
.custom-bg{
    background:#00acc1!important;
}
.custom-bg2{
    background: #ffa000;
    color: white;
  
}
.custom-bg3{
    background-color: #fb8c00;
    color: white;
    
    
}
.custom-bg3:hover{
    background-color: #ffa000;
    color: white;
    
}
.custom-bg2:hover{
    background: #ffa000;
    color: #33ffff;
    
    
}



.admin .card{
    border: 1px solid #00acc1;
    
}
.admin .card:hover{
    background: gainsboro;
    cursor: pointer;
}
.myalert1{
    background: white;
    color: greenyellow;
}
.discount-lable{
    font-size: 13px!important;
    text-decoration: line-through!important;
    font-style: italic;
    color:#455a64!important;
}
.product-cart:hover{
    box-shadow:  13px 13px 26px #959595, 
        -13px -13px 26px #e5e5e5;
    border-radius: 14px;
    cursor: pointer;

}
.discount-lable2{
    font-size: 15px!important;
    
    
}
/***********Card***********/
.bag_btn{
   

display: inline-block;
position: relative;
color: #fff;
font-size: 12px;
line-height: 1;
font-weight: 600;
padding: 3px 5px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
border-radius: 2px;
background-color: #ffa000;
}


/*....................................................................*/

